/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*  ----------------------------------------
    COLORS
    light blue #529BBB
    purple #6C4270
    dark blue #26596f
    tan #C59B7E
    ----------------------------------------*/

h1, h2, h3, h4, h5 {
    font-family: 'Chewy', sans-serif;
}

h1 {
    font-size: 2rem; 
}

h2 {
    font-size: 1.5rem; 
}

h3 {
    font-size: 1.25rem; 
}

h4 {
    font-size: 1rem;
} 

h5 {
    font-size: .75rem;
}


.pageTitle {
    font-family: 'Lato', sans-serif;
    color: #eee;
    background-color: #C59B7E;
    padding: .25rem;
    font-style: italic;
}

.brand {
    background-image: url('../img/brand.jpg');
    height: 100px;
    background-attachment: fixed;
    padding: 15px;
    text-align: center;
    border-bottom: 8px solid #26596f;
    border-top: 8px solid #26596f;
}   

.brand h3 {
    margin-bottom: -20px;
}

.brand h5 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

/* index page */

.header {
   text-align: center;
   padding-top: 50px;
    background-color: rgb(82,155,187, .75);
    background-image: url('../img/headerIMG.jpg');
    height: 300px;
}

.header h1 {
    font-size: 3.5em;
    margin-bottom: -20px;
}

.header h3 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    padding: 0px 10px 20px 10px;
}


.Mybutton, .start {
    width: 300px;
    padding: 20px;
    cursor: pointer;
    font-family: 'Chewy', sans-serif;
    font-size: 100%;
    text-align: center;
    background: #6C4270;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    text-decoration: none;
}

.button:hover,.Mybutton:hover, .start:hover {
    color: #000;
    background: #C59B7E;
}


.theme {
    text-align: center;
    background-image: url('../img/leaves.jpg');
    height: 175px;
    margin-top: -25px;
    border-top: 5px solid #eee;
    border-bottom: 5px solid #eee;
}

.theme h1 {
    font-size: 3rem;
    margin: -20px;
}

.theme h3 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
}


.work {
    text-align: center;
    padding-bottom: 40px;
    color: #26596f;
    overflow: auto;
}

.how {
    width: 50%;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 0 auto;
}

/* order page */

.ordernow {
    background-color: #529BBB;
    padding-top: 10px;
}

.ordernow h1, .ordernow h3 {
    padding-left: 30px;
}

.ordernow h4 {
    font-family: 'Lato', sans-serif;
    padding-left: 30px;
    margin-bottom: -20px;
}

/* featured page */
.harper {
    background-color: #529BBB;
}

.harper h2, .ozzy h2 {
    margin-bottom: -30px;
}

.harper h4, .ozzy h4 {
    font-family: 'Lato', sans-serif;
}

.harper h5, .ozzy h5 {
    text-align: center;
}

.ozzy {
    background-color: #C59B7E;
    text-align: right;
}

.harper, .ozzy {
    padding: 30px;
}

.hprofile, .oprofile {
    width: 200px;
    border-radius: 20px;
}

.hprofile {
    float: left;
    margin-right: 20px;
}

.oprofile {
    float: right;
    margin-left: 20px;
}

.howto {
    background-color: #6C4270;
    color: #eee;
    padding: 30px;

}

.howto h5 {
    font-family: 'Lato', sans-serif;
}

/* charity page */
.charity {
    text-align: center;
}

.charity h4 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

.redrover {
    width:75%;
}

.quote {
    background-color: #6C4270;
    color: #eee;
    padding: 30px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

.dogs {
    width: 100%;
    border-bottom: 5px solid #eee;
    border-top: 5px solid #eee;
}

.background {
    background-color: #C59B7E;
    padding: 20px;
}

.background h4 {
    font-family: 'Lato', sans-serif
}

.background h5 {
    text-align: center;
}

.website, .donate {
    color: #26596f;
}

/* about page */
.about {
    background-color: #529BBB;
    padding: 30px;
}

.about h3, .about h4 {
    font-family: 'Lato', sans-serif;
}

.about h3 {
    font-style: italic;
}

.contactwrapper {
    background-color: #6C4270;
    color: #eee;
    padding-top: 20px;
    border-top: 5px solid #eee;
}


.contactwrapper h3 {
    text-align: center;
}

label {
    font-family: 'Chewy', sans-serif;
    margin-left: 30px;
}

input, textarea {
    border-radius: 10px;
}

input {
    border: 2px solid #eee;
    padding: 10px;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 30px;
    width: 75%;
}

textarea {
    width: 76%;
    height: 100px;
    margin-left: 30px;
}

.button {
    padding: 1em;
    background-color: #529BBB;
    color: #eee;
    border-radius: 10px;
    border: 2px solid #eee;
    width: 100px;
    font-family: 'Chewy', sans-serif;
    font-size: 100%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 20px;
}


footer {
    background-color: #26596F;
}

footer h3 {
    color: #eee;
    text-align: center;
    padding-bottom: 30px;
}

.social { 
    width: 40%;
    display: block;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.one-third {
    
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    .header {
        background-image: url('../img/headerIMG2.jpg');
        height: 350px;
        border: 15px solid #26596f;
        background-attachment: fixed;
    }

    .Mybutton {
        font-size: 150%;
        padding: 25px 100px;
    }

    .theme {
        height: 225px;
    }

    .theme h3, .theme h5 {
        font-size: 125%;
    }

    .theme h1 {
        font-size: 500%;
    }



    .how {
        width: 90%;
        margin: 0 auto;
    }

    .one-third {
        width: 33%;
        float: left;
        overflow: hidden;
    }

    .start {
        width: 100px;
        margin: 0 auto;
        padding: 20px;
        cursor: pointer;
        font-family: 'Chewy', sans-serif;
        font-size: 100%;
        text-align: center;
        background: #6C4270;
        color: #fff;
        border: 1px solid #eee;
        border-radius: 10px;
        text-decoration: none;
        display: block;
    }

    .brand {
    background-image: url('../img/paw-prints.jpg');
    color: #eee;
}

    .brand h3, .brand h5 {
        font-size: 125%;
    }

    .redrover {
        width: 400px;
    }

    .dogs {
        width: 500px;
        display: block;
        margin: 0 auto;
        border: none;
    }

    .snow {
        background-image: url('../img/paw-prints.jpg');
        border-bottom: 5px solid #eee;
        border-top: 5px solid #eee;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
