body {
	margin: 36px 0 0 0;
}

.navButton {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1001;
	padding: .5em;
	background-color: #777;
	border: solid #aaa;
	border-width: 0 0 1px;
}

.navButton a {
	color: #eee;
	text-decoration: none;
	padding: 0 0 0 .5em;
}

i {
 	font-size: 1em;
 	color: #eee;
 	padding: 0 1em 0 0;
 	transition: color .5s;
 }

nav i:hover {
 	color: #333;
 }

#nav {
 	position: fixed;
 	top: 2em;
 	left: -72%;
 	width: 72%;
 	margin: 0;
 	height: 100%;
 	background-color: #333;
 	background-color: rgba(0,0,0,.72);
 	transition: left .5s;
}

#nav:target {
	left: 0;
}

nav {
	z-index: 1000;
}

nav a {
	list-style: none;
	margin: 0;
	padding: 0;	
}

nav a {
	color: #eee;
	text-decoration: none;
	display: block;
	padding: .5em 1em;
	transition: all .5s;
}

nav a:hover {
	color: #eee;
	text-decoration: none;
	background-color: #eee;
	color: #333;
}

/* produces a blank line in mobile nav, but is
hidden when on wider screens. */
.hiddenLink {
	display: block;
}

/********************************************/
/* MEDIA QUERIES */
/********************************************/

@media only screen and (min-width: 30em) {
	body {
		margin: 0;
	}

	.navButton {
		display: none;
	}

	#nav {
	 	margin: 0;
	 	width: 100%;
	 	height: auto;
	 	background-color: #6C4270;
	 	position: static;
	 	font-family: 'Open+Sans', sans-serif;
	}

	nav {
		margin: 0;
		text-align: center;
	}

	nav a {
		display: inline-block;
		padding: .5em 1em;
	}

	.hiddenLink {
		display: none;
	}
}
